
.login_mainContainer
{
    width: 100%;
    height: 100vh;
    background-image: url('../images/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .loginBox
    {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 350px;
        overflow: hidden;
        padding: 20px;
        border-radius: 0;
        border: none;
        background: #fff;

        @media screen and (max-width: 767px)
        {
            width: 300px;
        }
    }

    .loginLogo
    {
        width: 70%;
        margin: 0 auto;
        display: inherit;

        img
        {
            width: 100%;
        }
    }

    .login
    {
        padding: 10px;

        input[type=text], input[type=password]
        {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-bottom: 1px solid #000;
        } 

        .loginBtn
        {
            margin-top: 10px;
            
            button
            {
                background: #FFB80C;
                color: #000;
                font-size: 15px;
                text-transform: uppercase;
                border: #FFB80C;
                border-radius: 0;
                width: 100%;
                padding: 10px;
                cursor: pointer;
            }
        }

        .rememberMe
        {
            margin-top: 10px;

            label{
                margin-left: 5px;
            }
        }
    }
}

